<div class="container">
  {{#if articles}}
    {{#each articles}}
    <div class="card indigo accent-1">
      <div class="card-content white-text">
        <span class="card-title white-text">
          <a href="{{this.link}}" target="_blank">{{this.title}}</a>
        </span>
        <p>{{this.summary}}</p>
      </div>
      <div class="card-action indigo accent-1">
        {{#if this.saved}}
        <a href="#" class="btn disabled blue accent-1 white-text">article saved</a> 
        {{else}}
        <form method="POST" action="/save/index/{{this._id}}">
          <input type="hidden" name="saved" value="true">
          <button type="submit" class="btn blue accent-1 white-text">save article</button>
        </form>
        {{/if}}
      </div>
    </div>
    {{/each}}
  {{else}}
    <div class="card-panel blue-grey darken-3 white-text">
      <h2>Please Scrape and Save</h2>
      <p>Scrape and save a BBC article to read. <a href="/scrape" class="blue accent-1 white-text text-darken-3">Scrape Here!</a></p>
    </div>
  {{/if}}
</div>